<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40591016201-0c58umfvmq6sem7h02d42nj9mk5o7poq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40591016201-0c58umfvmq6sem7h02d42nj9mk5o7poq</string>
	<key>API_KEY</key>
	<string>AIzaSyBuHrBzZ2LP7fkXoSL0vWqnCCH3IqJiSAY</string>
	<key>GCM_SENDER_ID</key>
	<string>40591016201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caos</string>
	<key>PROJECT_ID</key>
	<string>caos-626a1</string>
	<key>STORAGE_BUCKET</key>
	<string>caos-626a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40591016201:ios:d86949ef6e249f1ff393d8</string>
	<key>DATABASE_URL</key>
	<string>https://caos-626a1.firebaseio.com</string>
</dict>
</plist>